# -------------------- Node ----------------------------
node.name: "{{ ansible_hostname }}"
# -------------------- Paths ---------------------------
path.data: /var/lib/logstash
path.logs: /var/log/logstash
# -------------------- Loglevel ------------------------
log.level: info
# -------------------- HTTP --------------------------
http.host: 0.0.0.0
